*.db
Documents/Zwischenpraesentation.odp
Documents/detectMarker.png
Documents/edbv_ag_c3.aux
Documents/edbv_ag_c3.log
Documents/edbv_ag_c3.pdf
Documents/edbv_ag_c3.synctex.gz
Documents/markerBoundingBox.png
Documents/subtraction.png
Documents/subtractionBW.png
